.row-runs{
  position: relative;
  background-color: rgba(255,255,255,0.94);
  padding: 10px 32px;
}

.wheel {
  width: 50px;
  position: absolute;
  top:5px;
  right:5px;
  animation: rotate 30s linear infinite;
  
}



@keyframes rotate {
from {
  transform: rotate(0deg);
}
to { 
  transform: rotate(360deg);
}
}



td{
  font-size: 1.4em;
}

table>tbody>tr:hover{
  background-color: #fff;
}

td > a{
  color: #ff1744;
}

td > a:hover{
  text-decoration: none;
  color: #ff5252;
}

hr{
  border-color: #ddd;
}

.summary{
  font-size: 1.4em;
}

.heading{
  font-family: 'Fjalla One', sans-serif;
}

.totals{
  display: inline;
  font-family: 'Fjalla One', sans-serif;
  color:#333;
  margin: 2px;
}